img#bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
img#pokemon {
    position: absolute;
    right: 20%;
    bottom: 40%;
    zoom: 130%;
}
div#menu {
    position: absolute;
    right: 10%;
    bottom: 10%;
}
img#throw {
    position: absolute;
    bottom: 0;
    width: 200px;
    -webkit-animation: trainermove 5s forwards;
    animation: trainermove 5s forwards;
    animation-iteration-count: 1;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes trainermove {
    0% {left: 10%}
    100% {left: -500px}
}
@keyframes trainermove {
    0% {left: 10%}
    100% {left: -500px}
}