body{
	background: url('../img/bglogin.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.loginbox{
	width: 700px;
	height: 355px;
	background-color: #558DAF;
	margin-left: -10px;
    opacity: 0.8;
}
@font-face {
    font-family:"Pokemon Pixel Font Regular";
    src:url("../font/pokemon_pixel_font.eot?") format("eot"),url("../font/pokemon_pixel_font.woff") format("woff"),url("../font/pokemon_pixel_font.ttf") format("truetype"),url("../font/pokemon_pixel_font.svg#Pokemon-Pixel-Font") format("svg");
    font-weight:normal;
    font-style:normal;
}
p{

    font-family: "Pokemon Pixel Font Regular";
    font-size: 25px;
}
pre{

    font-family: "Pokemon Pixel Font Regular";
    font-size: 25px;
}
h1{

    font-family: "Pokemon Pixel Font Regular";
    font-size: 50px;
}
.btn-login{
	height: 40px;
	width: 80px;
	background-color: #EBEB03;
	border: 2px solid;
	border-color: #C92500;
}
div#promo{
    display: inline-flex;
}
iframe#promo1{
	width: 600px;
	height: 400px;
	border-radius: 15px;
	opacity: 0.8;
	margin-left: 5%;
}
img#promo2{
	width: 600px;
	height: 400px;
    border-radius: 15px;
    margin-left: 5%;
    opacity: 0.8;
}
img#usericon {
	position: absolute;
	top: 200px;
	left: 10px;
	width: 29px;
	height: 29px;
}
img#passwordicon {
	position: absolute;
	top: 235px;
	left: 15px;
	width: 17px;
	height: 34px;
}