body {
    background-color: floralwhite;
    overflow-x: hidden;
}
img {
    width: 100%;
    height: 350px;
    position: absolute;
    z-index: -1;
}
button {
    border-radius: 10px;
}
div#step {
    position: absolute;
    vertical-align: middle;
    left: 50%;
    transform: translateX(-50%);
    top: 290px;
    opacity: 0.7;
    display: inline-flex;
}
div#about {
    /*left it floating on the actual game*/
}
div#howto {
    position: absolute;
    left: 20px;
    top: 400px;
}
img#rr {
    width: 40px;
    height: 56px;
    position: absolute;
    left: 100px;
    top: 240px;
}
a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: 'Anonymous Pro';
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26px;
}
h3 {
    font-family: 'Anonymous Pro';
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15px;
}
p {
    font-family: 'Anonymous Pro';
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
#ad {
	left: 0;
	top: 0;
}
#ad2 {
	left: 1349px;
	top: 0;
}
#ag p {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}
.btn {
	width: 200px;
	height: 50px;
    padding: 2px;
}
.btn-1 {
    width: 100px;
}
.btn-2 {
    margin-top: 25px;
	width: 100px;
    height: 25px;
}
img#image {
    width: 30px;
    height: 30px;
}
a:hover{
    color: blue;
}
#popup{
    display: none;
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    border: darkcyan;
    border-style: double;
    border-radius: 10px;
    background-color: #666666;
    color: white;
    width: 60%;
    height: 200px;
    text-align: center;
}
button#done {
    position: absolute;
    bottom: 1px;
    transform: translateX(-50%);
}
div#trainercard{
    display: none;
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    width: 450px;
    height: 250px;
    background-color: #91A298;
    border-style: solid;
    border-color: #555A5C;
    border-radius: 10px;
    border-width: 7px;
}
div#leftside{
    display: none;
    width: 60%;
    padding-left: 10px;
}
div#name {
    display: none;
    background-color: #A2B2A7;
    height: 20px;
    border-radius: 7px;
}
div#gender {
    display: none;
    background-color: #A2B2A7;
    height: 20px;
    border-radius: 7px;
}
div#class {
    display: none;
    background-color: #A2B2A7;
    height: 20px;
    border-radius: 7px;
}
div#pokemonid {
    display: none;
    background-color: #A2B2A7;
    height: 80px;
    border-radius: 7px;
}
div#rightside{
    display: none;
    position: relative;
    z-index: 11;
    top: -182px;
    float: right;
    margin-right: 15px;
    background-color: #A2B2A7;
    width: 30%;
    height: 182px;
    border-radius: 7px;
}
img#rightsidepic{
    position: relative;
    z-index: 12;
    float: right;
    height: 182px;
}
div#bottomside{
    display: none;
    width: 425px;
    position: absolute;
    left: 10px;
    bottom: 7px;
}
div#startdate{
    display: none;
    height: 20px;
    background-color: #A2B2A7;
    border-radius: 7px;
}
img#crown{
    position: absolute;
    z-index: 20;
    width: 25px;
    height: 20px;
    zoom: 90%;
}