body {
    background-color: floralwhite;
    overflow-x: hidden;
}
img {
    width: 100%;
    height: 350px;
    position: absolute;
    z-index: -1;
}
button, input {
    border-radius: 10px;
}
div#step {
    position: absolute;
    vertical-align: middle;
    left: 50%;
    transform: translateX(-50%);
    top: 290px;
    opacity: 0.7;
    display: inline-flex;
}
div#about {
    /*left it floating on the actual game*/
}
div#howto {
    position: absolute;
    left: 20px;
    top: 400px;
}
img#rr {
    width: 40px;
    height: 56px;
    position: absolute;
    left: 100px;
    top: 240px;
}
a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: 'Anonymous Pro';
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26px;
}
h3 {
    font-family: 'Anonymous Pro';
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15px;
}
p {
    font-family: 'Anonymous Pro';
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
#ad {
	left: 0;
	top: 0;
}
#ad2 {
	left: 1349px;
	top: 0;
}
#ag p {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}
.btn {
	width: 200px;
	height: 50px;
    padding: 2px;
}
.btn-1 {
    width: 100px;
}
.btn-2 {
    margin-top: 25px;
	width: 100px;
    height: 25px;
}
img#image {
    width: 30px;
    height: 30px;
}
a:hover{
    color: blue;
}
button#done {
    position: absolute;
    bottom: 1px;
    transform: translateX(-50%);
}
div#red{
    display: none;
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    top: 75px;
    width: 550px;
    height: 30px;
    background-color: #F3796B;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
div#white{
    display: none;
    position: absolute;
    z-index: 11;
    top: 30px;
    width: 550px;
    height: 170px;
    background-color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
img#profile{
    position: absolute;
    background-color: #DCDCDC;
    border-radius: 10px;
    z-index: 12;
    margin: 5px;
    height: 160px;
    width: 130px;
}
div#profileabout{
    position: absolute;
    left: 150px;
}
div#badges{
    position: absolute;
    z-index: 12;
    bottom: 15px;
    left: 110px;
}
ul{
    display: inline-flex;
    list-style-type: none;
}
li{
    width: 25px;
    margin: 12px;
}
img#badge{
    width: 25px;
    height: 25px;
}