body {
    background-color: floralwhite;
		overflow-x: hidden;
}
img {
    width: 100%;
    height: 350px;
    position: absolute;
    z-index: -1;
}
button {
    border-radius: 10px;
}
div#step {
    position: absolute;
    vertical-align: middle;
    left: 50%;
    transform: translateX(-50%);
    top: 290px;
    opacity: 0.7;
}
div#about {
    /*left it floating on the actual game*/
}
div#howto {
    position: absolute;
    left: 20px;
    top: 400px;
}
img#rr {
    width: 50px;
    height: 100px;
    position: absolute;
    left: 100px;
    top: 180px;
}
a {
    text-decoration: none;
    color: black;
}
div#Bamuel {
    position: absolute;
    top: 400px;
    right: 200px;
}
div#Sam {
    position: absolute;
    top: 400px;
    right: 10px;
}
h1#teama {
    position: absolute;
    top: 360px;
    right: 150px;
}

h1 {
    font-family: 'Anonymous Pro';
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26px;
}
h3 {
    font-family: 'Anonymous Pro';
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15px;
}
p {
    font-family: 'Anonymous Pro';
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
#ad {
	left: 0;
	top: 0;
}
#ad2 {
	left: 1349px;
	top: 0;
}
#ag p {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}
.btn {
	width: 200px;
	height: 50px;
}

.btn-2 {
	width: 100px;
}
div#footer{
    position: absolute;
    bottom: 5px;
    left: 5px;
}
img#image {
    width: 30px;
    height: 30px;
}
a:hover{
    color: blue;
}